<div>
  <section>
  <header>
    <h1>My Watch List</h1>
    <p class="description">Add all the movies or series you wish to watch.</p>
  </header>
  <nav style="margin:0 4rem;">
      <a routerLink="/">
        <img src="assets/media/04.png" alt="image 4" class="icon" />
      </a>
      <a routerLink="/Movies">
        <img src="assets/media/03.png" alt="image 3"class="icon" />
      </a>
      <a routerLink="/Series">
        <img src="assets/media/01.png" alt="image 1" class="icon" />
      </a>
    </nav>
    <router-outlet></router-outlet>
</section>
</div>
